:root {
  
  --colorGreen: rgb(41, 125, 39);
  --colorLightGrey: rgb(239, 239, 239);
  --colorDarkGray: rgb(216, 206, 215);
  --colorWhite: #fff;
  --colorBlack: #000;
    
  --BottomOffset: 35px;
  --LineHeight: 4px;
  /* --fuente-principal: 'Roboto Condensed', sans-serif; */
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: var(--fuente-principal); */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* font-size: 2rem; */
  line-height: 1.15;
  background-color: var(--colorLightGrey);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}

[class*="contenedor"],
main {
  width: min(95%, 120rem);
  margin: 1.5rem auto;
  padding: 0 1rem;
}

[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}

.error,
.error-enlace {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 5rem;
}

.error-enlace {
  font-size: 1.8rem;
  display: block;
  text-decoration: none;
  color: var(--primary);
}